# Игнорировать указанные директории
export/
doc-generator-app/docs/

# Игнорировать временные файлы
*.*~
*.swp
*.swo

# Java-specific
*.class
*.jar
# Исключение для gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# Log files
*.log
jmeterdata/

# Mac-specific
.DS_Store
**/.DS_Store

# Gradle
.gradle/
build/
logs/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Spring Tool Suite (STS) / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

# Дополнительно: игнорировать другие временные файлы
target/
*.bak
*.tmp