Система расчета стоимости страхового полиса для путешественников должна основываться на выбранных клиентом рисках,
от которых он хочет застраховаться.
Стоимость полиса должна быть суммой стоимости страховки для каждого выбранного риска.

Требования:
Система должна предоставлять клиенту возможность выбора различных рисков, от которых он желает застраховаться
(медицинские расходы, отмена поездки, утеря багажа, ответственность перед третьими лицами, эвакуация и репатриация, активный отдых).
Расчет стоимости страхового полиса должен производиться как сумма стоимости страховки для каждого выбранного риска.
Клиент должен выбрать как минимум один риск, от которого он желает застраховаться.
Система должна четко отображать, какие риски были выбраны клиентом и соответствующую стоимость страховки для каждого.


1) Бизнес принял решение первым реализовать
   расчёт премии для медицинского риска. После реализации
   расчёта премии для медицинского риска бизнес будет готов запустить
   нашу систему в продакшене. Остальные риски будут добавляться
   в систему после запуска в продакшене по мере завершения реализации.

   - Возраст клиента: чем старше клиент, тем выше вероятность медицинских проблем во время путешествия.
   - Длительность путешествия: чем дольше путешествие, тем выше вероятность медицинских проблем.
   - Страховые компании могут предлагать различные тарифы в зависимости от продолжительности поездки.
   - Страны посещения: в некоторых странах медицинские расходы могут быть очень высокими,
   поэтому страховые компании могут устанавливать более высокую стоимость для покрытия медицинских расходов в этих странах.
   - Страховой лимит: чем выше лимит страхового покрытия, тем выше стоимость медицинского риска в страховом полисе.






